[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-q = "*"
flask = "*"
requests = "*"
django-constance = {extras = ["redis"], version = "*"}
django-multiselectfield = "*"

[dev-packages]

[requires]
python_version = "3.9"
