[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-q = "*"
flask = "*"
requests = "*"
django-constance = {extras = ["database"], version = "*"}
django-multiselectfield = "*"
validate-docbr = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9"
