body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
}

.formulario {
    display: block;
    margin-left: 250px;
    padding: 1px 16px;
    height: 1000px;
}

div {
    display: block;
    margin-left: 250px;
    padding: 1px 16px;
    height: 1000px;
}

.ul_base {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 ;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.li_base a {
    display: block;
    font-size: 18px;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.li_base a:hover {
    background-color: #555;
    color: white;
}

ul.messagelist {
    padding: 0;
    margin: 0;
}

ul.messagelist li.success {
    display: block;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #006b1b;
    background-size: 16px auto;
    color: #eeeeee;
}

ul.messagelist li.error {
    background: #ff0000;
    background-size: 16px auto;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    font-size: x-large;
    background-color: #04aa6d;
    color: white;
    padding 12px 20px;
    border: none;
    border-radius 4px;
    cursor: pointer;
    float: right;
}

.formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

ul.base li.usuario {
    position: absolute;
    bottom: 0;
    left: 0;
}