<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link href="{% static "css/basestyle.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/form.css" %}" rel="stylesheet">
    <title>Servidor Local VaciVida</title>
</head>
<body>
    <nav>
    <ul class = "ul_base">
        {% if user.is_authenticated %}
        <li class = "li_base"><a href="/">Home</a></li>
        <li class = "li_base"><a href="/cadastro_paciente">Cadastro Paciente</a></li>
        <li class = "li_base"><a href="/busca_cadastro">Cadastro Imunização</a></li>
        {% else %}
        <li class = "li_base"><a href="/login">Fazer Login</a></li>
        {% endif %}
        {% if user.is_superuser %}
        <li class = "li_base"><a href="/admin">Página de Administrador</a></li>
        <li class = "li_base"><a href="/cadastrar_usuario">Criar Usuário</a></li>
        <li class = "li_base"><a href="#" name="sincronizar">Sincronizar</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class = "li_base"><a href="/logout">Logout</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="usuario">{{ user.get_username }} </li>
        {% endif %}
    </ul>
    </nav>
    {% block content %}
    replace me
    {% endblock %}

    <script>
        $(document).ready(function(){
            $("[name='sincronizar']").click(function(){
                $.get("/sincronizar")
            });
        });
    </script>
</body>
</html>