<!DOCTYPE html>
<html>
<head>
    
    <!-- Não tirar, JQuery -->

    {% load static %}

    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        // document.write(unescape("%3Cscript src='% static/js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
        
        document.write(unescape("%3Cscript src='/static/js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
    </script>

    <link href="{% static "css/basestyle.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/form.css" %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-32x32.png" %}" sizes="32x32" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VaciServer</title>
</head>
<body>
    <nav>
        <a class="logo" href="/">
            <img src="{% static "logo/VaciServer.png" %}" alt="VaciServer" width="200" height="80" /> 
        </a>
        <input type="checkbox" id="check">
        <label for="check" class="menubtn">
            <img src="{% static "icons/hbmenu.png" %}" class="icon-bars"> </img>
        </label>
        <ul class = "ul_base">
            {% if user.is_authenticated %}
            <!-- <li class = "li_base"><a href="/">Home</a></li> -->
            <li class = "li_base"><a href="/cadastro_paciente">Cadastro Paciente</a></li>
            <li class = "li_base"><a href="/busca_cadastro">Cadastro Imunização</a></li>
            {% else %}
            <li class = "li_base"><a href="/login">Fazer Login</a></li>
            {% endif %}
            {% if user.is_superuser %}
            <li class = "li_base"><a href="/admin">Página de Administrador</a></li>
            <li class = "li_base"><a href="/cadastrar_usuario">Criar Usuário</a></li>
            <li class = "li_base"><a href="#" name="sincronizar">Sincronizar</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class = "li_base"><a href="/logout">Logout</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="usuario">{{ user.get_username }} </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    replace me
    {% endblock %}

    <script>
        $(document).ready(function(){
            $("[name='sincronizar']").click(function(){
                $.get("/sincronizar")
            });
        });
    </script>
</body>
</html>