<title>Cadastro Vacinação</title>
{% extends 'base.html' %}
{% block content %}
<div class="formulario">
    {% include 'messages.html' %}
    <h2>Busca Cadastro</h2>
    <br>
    <h3>Digite CPF/CNS</h3>
    <form method="POST" action="" id="searchform"> {% csrf_token %}
        <input class="searchfield" id="searchbox" name="pesquisa" type="text" value="{{ request.GET.pesquisa }}" placeholder="CPF ou CNS"/>
        <input type="submit" value="Pesquisar Paciente" name="pesquisa_paciente"/>
    {% if paciente %}
        <br>
        <br>
        <br>
        {{form.gestante}}
        {{form.puerpera}}
        <h2>⠀</h2>
            <form method="POST"> {% csrf_token %}
                <!-- {{ form.as_p }} -->

                <div class='bloco'>
                    <hr>
                    <br>
                    <br>
                    <div class='titulos'>
                        <p>Identificação</p>
                    </div>
                    <div class='campos'>
                        {{ form.non_field_errors }}
                        <div class="fieldWrapper"> 
                            {{ form.CPF.errors }}
                            <label for="{{ form.CPF.id_for_label }}">CPF:</label><br>
                            {{ form.CPF }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.CNS.errors }}
                            <label for="{{ form.CNS.id_for_label }}">CNS:</label><br>
                            {{ form.CNS }}
                        </div>
                    </div>
                </div>
                <div class="bloco">
                    <hr>
                    <div class='titulos'>
                        <p>Dados Básicos</p>
                    </div>
                    <div class="campos">
                        <div class="fieldWrapper"> 
                            {{ form.nome.errors }}
                            <label for="{{ form.nome.id_for_label }}">Nome:</label><br>
                            {{ form.nome }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.nomeMae.errors }}
                            <label for="{{ form.nomeMae.id_for_label }}">Nome da Mãe:</label><br>
                            {{ form.nomeMae }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.nomeSocial.errors }}
                            <label for="{{ form.nomeSocial.id_for_label }}">Nome Social:</label><br>
                            {{ form.nomeSocial }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.dataNascimento.errors }}
                            <label for="{{ form.dataNascimento.id_for_label }}">Data de Nascimento:</label><br>
                            {{ form.dataNascimento }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.telefone.errors }}
                            <label for="{{ form.telefone.id_for_label }}">Telefone:</label><br>
                            {{ form.telefone }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.email.errors }}
                            <label for="{{ form.email.id_for_label }}">E-mail:</label><br>
                            {{ form.email }}
                        </div>
                    </div>
                </div>
                <div class="bloco">
                    <hr>
                    <div class='titulos'>
                        <p>Dados Básicos</p>
                    </div>
                    <div class="campos">
                        <div class="fieldWrapper"> 
                            {{ form.sexo.errors }}
                            <label for="{{ form.sexo.id_for_label }}">Sexo:</label><br>
                            {{ form.sexo }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.raca.errors }}
                            <label for="{{ form.raca.id_for_label }}">Raça:</label><br>
                            {{ form.raca }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.gestante.errors }}
                            <label for="id_gestante_view">Gestante:</label><br>
                            <input type="checkbox" id="id_gestante_view" name="gestante">
                            <label class= "cbximg" for="id_gestante_view"></label><br>
                        </div>
        
                        <div class="fieldWrapper"> 
                            {{ form.puerpera.errors }}
                            <label for="id_puerpera_view">Puérpera:</label><br>
                            <input type="checkbox" id="id_puerpera_view" name="puerpera">
                            <label class= "cbximg" for="id_puerpera_view"></label><br>
                        </div>
                    </div>
                </div>
                <div class="bloco">
                    <hr>
                    <div class='titulos'>
                        <p>Endereço</p>
                    </div>
                    <div class="campos">
                        <div class="fieldWrapper"> 
                            {{ form.pais.errors }}
                            <label for="{{ form.pais.id_for_label }}">País:</label><br>
                            {{ form.pais }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.UF.errors }}
                            <label for="{{ form.UF.id_for_label }}">UF:</label><br>
                            {{ form.UF }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.municipio.errors }}
                            <label for="{{ form.municipio.id_for_label }}">Município:</label><br>
                            {{ form.municipio }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.logradouro.errors }}
                            <label for="{{ form.logradouro.id_for_label }}">Logradouro:</label><br>
                            {{ form.logradouro }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.numero.errors }}
                            <label for="{{ form.numero.id_for_label }}">Número:</label><br>
                            {{ form.numero }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.bairro.errors }}
                            <label for="{{ form.bairro.id_for_label }}">Bairro:</label><br>
                            {{ form.bairro }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.complemento.errors }}
                            <label for="{{ form.complemento.id_for_label }}">Complemento:</label><br>
                            {{ form.complemento }}
                        </div>
                        <div class="fieldWrapper"> 
                            {{ form.zona.errors }}
                            <label for="{{ form.zona.id_for_label }}">Zona:</label><br>
                            {{ form.zona }}
                        </div>
                        <br>
                    </div>
                    <hr>
                </div>

                {% if confirmado %}
                    <input type="submit" value="Registrar Imunização" name="imuniza"/>
                {% else %}
                    <input type='submit' value='Confirmar Dados do Paciente' name='confirma_cadastro'/>
                {% endif %}
            </form>
    {% else %}
        {% if pesquisa %}
            <input type="submit" value="Cadastrar Paciente" name="cadastra"/>
        {% endif %}
    {% endif %}
    </form>
</div>

<!-- Modifica os valores de campos de gestante e puérpera, baseado na resposta do servidor local -->
<script>
    $('#id_gestante_view').prop('checked', $("#id_gestante").prop('checked'));
    $('#id_puerpera_view').prop('checked', $("#id_puerpera").prop('checked'));
</script>


{% endblock %}