{% extends 'base.html' %}
{% block content %}
<div class="formulario">
    {% include 'messages.html' %}
    <h2>Registrar Imunização</h2>    
    <form method="POST"> {% csrf_token %}
        <!-- {{form.errors}} -->
        <div class='bloco'>
            <div class='titulos'>
                <p>Identificação</p>
            </div>
            <div class='campos'>
                {{ form.non_field_errors }} 
                    {{ form.CPF.errors }}
                    <label for="{{ form.CPF.id_for_label }}">CPF:</label><br>
                    {{form.paciente}}
                    {{ form.grupo.errors }}
                    <label for="{{ form.id_grupo }}">Grupo de atendimento:</label><br>
                    {{form.grupo}}
                    {{ form.comorbidades.errors }}
                    <label id="comorb_label"  for="{{ form.comorbidades.id_for_label }}">Comorbidades:</label><br>
                    <div id="list1" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Selecione a comorbidade:</span>
                    {{ form.comorbidades }}
                    </div> <br>
                    <div id="BPC">
                    {{ form.id_num_BPC.errors }}
                    <label for="{{ form.id_num_BPC }}">Número do BPC</label><br>
                    {{form.num_BPC}}
                    </div>  
            </div>
        </div>
        <div class='bloco'>
            <div class='titulos'>
                <p>Aplicação</p>
            </div>
            <div class='campos'>
                {{ form.non_field_errors }}
                    
                    <label for="{{ form.id_CRM_medico_resp }}">CRM do médico responsável:</label><br>
                    {{form.CRM_medico_resp}}
                    {{ form.CRM_medico_resp.errors }}

                    <label for="{{ form.id_dose }}">Dose:</label><br>
                    {{form.dose}}
                    {{ form.dose.errors }}

                    <label for="{{ form.id_imunobiologico }}">Imunobiológico:</label><br>
                    {{form.imunobiologico}}
                    {{ form.imunobiologico.errors }}

                    <label for="{{ form.id_lote }}">Lote:</label><br>
                    {{form.lote}}
                    {{ form.lote.errors }}
                    
                    <label for="{{ form.id_via_admn }}">Via de Administração:</label><br>
                    {{form.via_admn}}
                    {{ form.via_admn.errors }}
                    
                    <label for="{{ form.id_local_admn }}">Local de Administração:</label><br>
                    {{form.local_admn}}
                    {{ form.local_admn.errors }}

                    <label for="{{ form.id_vacinador }}">Vacinador:</label><br>
                    {{form.vacinador}}
                    {{ form.vacinador.errors }}

                    <label for="{{ form.id_estrategia }}">Estratégia:</label><br>
                    {{form.estrategia}}
                    {{ form.estrategia.errors }}

                    <label for="{{ form.id_data_aplic }}">Data de Aplicação:</label><br>
                    {{form.data_aplic}}
                    {{ form.data_aplic.errors }}

                    <label for="{{ form.id_data_apraz }}">Data de Aprazamento:</label><br>
                    {{form.data_apraz}}
                    {{ form.data_apraz.errors }}

                    <label for="{{ form.id_estado_1_dose }}">Estado Primeira Dose</label><br>
                    {{form.estado_1_dose}}
                    {{ form.estado_1_dose.errors }}

                    <label for="{{ form.id_pais_1_dose }}">País Primeira Dose:</label><br>
                    {{form.pais_1_dose}}
                    {{ form.pais_1_dose.errors }}
            </div>
        </div>
        <input type='submit' value='Registrar Imunização'/>
    </form>
    <script>
        var checkList = document.getElementById('list1');
        checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
        if (checkList.classList.contains('visible'))
            checkList.classList.remove('visible');
        else
            checkList.classList.add('visible');
        }
    </script>
	{% if paciente_CPF %}
		<script>
			$('select option:contains({{paciente_CPF}})').prop('selected',true);
		</script>
	{% else %}
	    <script>
			$('select option:contains({{paciente_cns}})').prop('selected',true);
	    </script>
	{% endif %}

    <script>
        $("#BPC").hide();
        $("#list1").hide();
        $("#comorb_label").hide();
        $(document).ready(function(){
            $("#id_grupo").change(function(){
                if($(this).val() != 'COMORBIDADE'){
                    $("#list1").hide();
                    $("#comorb_label").hide();

                }else{
                    $("#list1").show();
                    $("#comorb_label").show();

                }
            });
            $("#id_grupo").change(function(){
                if($(this).val() != 'PESSOA COM DEFICIENCIA PERMANENTE SEVERA'){
                    $("#BPC").hide();

                }else{
                    $("#BPC").show();
                }
            });
        });
    </script>
</div>
{% endblock %}
