{% extends 'base.html' %}
{% block content %}
<div class="formulario">
    {% include 'messages.html' %}
    <h2>Registrar Imunização</h2>    
    <form method="POST"> {% csrf_token %}
        {{form.errors}}
        <div class='bloco'>
            <div class='titulos'>
                <p>Identificação</p>
            </div>
            <div class='campos'>
                {{ form.non_field_errors }}
                <div class="fieldWrapper"> 
                    {{ form.CPF.errors }}
                    <label for="{{ form.CPF.id_for_label }}">CPF:</label><br>
                    {{form.paciente}}
                    {{ form.comorbidades }}
                </div>
            </div>
        </div>
        
        <input type='submit' formnovalidate  value='Registrar Imunização'/>
    </form>
	{% if paciente_CPF %}
		<script>
			$('select option:contains({{paciente_CPF}})').prop('selected',true);
		</script>
	{% else %}
	    <script>
			$('select option:contains({{paciente_cns}})').prop('selected',true);
	    </script>
	{% endif %}
</div>
{% endblock %}
